.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.main-content {
  border: 1px solid gray;
  padding: 30px 0 20px 0;
  width: 30%;
  border-radius: 10px;
}

.content-calculator {
  display: flex;
  justify-content: center;
}

.calculator {
  width: 200px;
  padding: 10px;
  margin-top: 5px;
  border-radius: 7px;
  font-size: 1.0em;
  color: #e5f3f1;
  background-color: #26cbe0;
  font-family: sans-serif;
  font-weight: 600;
  border-style: none;
}

.calculator:hover, calculator:active {
  background-color: #3adcf1
}